
        <div class="margs">
            <h1><%= @questions.count %> total questions</h1>
            <hr>
            <% @questions.each do |question| %>
            <div class="question-list">
                Q: <%= link_to question.title, question_path(question) %>
                <p>
                   <span> posted <%= time_ago_in_words(question.created_at) %> ago by <%= link_to question.user.username, user_path(question.user) %> . <%= answer_count(question) %>.</span>
            </div>

                     <% end %>
                </p>
        </div>
