 <div class="page-header container margs">
  <div class="question">
    <div class="vote col-md-1 ">
        <%= link_to "up vote", votes_path(qid: "thingy", votetype: "thingy"), method: :post, remote: true, :class => "vote-up-off"%>
        <span id="vote-count">0</span>
        <%= link_to "down vote", 'placeholder', method: :post, remote: true, :class => "vote-down-off" %>
    </div>
 <div class="page-header">

  <%= render partial: "votes/question_new" %>

    <div class="question col-md-7" id="<%= @question.id  %>">
      <div id="Q">Question:</div>
      <h1><%= @question.title %></h1>
      <h3><%= @question.body %></h3>
    </div>
    <div class="col-md-4">
      <p id="sig">Asked by <span class="em"><%= @question.user.username %></span> on <%= @question.created_at.strftime("%m/%d/%Y %I:%M%P") %> <%= gravatar_for(@question.user) %></p>
    </div>
    <% @question.comments.each do |comment| %>
      <%= render :partial => "comments/show_comment", locals: {:comment => comment} %>
    <% end %>

    <div class="col-md-12">
      <%= link_to "Comment on Question", '#', remote: true, id: "question_comment_button" %>
    </div>
  </div>

  <div id="question_comments" class="col-md-12"></div>

  <div class="answers col-md-12">
    <% @question.answers.each do |answer| %>
      <% unless answer.content == nil %>
        <div class="A">Answer:</div>
        <div class="answer">
          <%= render partial: "answers/show", locals: {answer: answer} %>
        </div>
        <hr>
      <% end %>
    <% end %>
  </div>

<%= render partial: "answers/form", locals: { answer: @answer, question: @question } %>
</div>

<div class="hide_form" id="question_comment_form">
  <h2>New Comment</h2>
  <%= form_for [@commentable, Comment.new] do |f| %>
    <p>
      <%= f.label :content %><br/>
      <%= f.hidden_field :commentable_id, value: @question.id %>
      <%= f.hidden_field :commentable_type, value: @question.class %>
      <%= f.text_area :content %>
    </p>
    <p><%= f.submit "Submit" %></p>
  <% end %>
</div>

