<div class="margs"> <div class="page-header">
  <div id="question">
    <div id="Q">Question:</div>
  </div>
    <h1><%= @question.title %></h1>
    <h3><%= @question.body %></h3>
    <p id="sig">Asked by <span class="em"><%= @question.user.username %></span> on <%= @question.created_at.strftime("%m/%d/%Y %I:%M%P") %> <%= gravatar_for(@question.user) %></p>
  </div>

  <% @question.answers.each do |answer| %>
    <% unless answer.content == nil %>
      <div class="A">Answer:</div>
      <div class="answer">
        <%= render partial: "answers/show", locals: {answer: answer} %>
      </div>
      <hr>
    <% end %>
  <% end %>

<%= render partial: "answers/form", locals: { answer: @answer, question: @question } %>
</div>
