<h1>Submit an answer</h1>

<%= form_for @answer do |f| %>
  Answer: <%= f.text_area :content, size: "60x12" %><br>
  <%= f.hidden_field :question_id, value: @question.question_id %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit "Submit!" %>
  <% end %>
