<div class="pull-left">
  <span><%= answer.content %></span>
</div>

<div class="pull-right">
  <div id="sig">
    Answered by <span class="em"><%= answer.user.username %> </span> on
    <span><%= answer.created_at.strftime("%m/%d/%Y %I:%M%P") %></span>
    <span><%= gravatar_for(answer.user) %></span>
  </div>
  <div class="col-md-12">
    <%= link_to "Comment on Answer", answer_path(answer), :class => "answer_comment_button" %>
  </div>
</div>

