<!DOCTYPE html>
  <html lang="en">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Stack Overflow Want-a-Be">
    <title>Margarita Overflow: Another Round</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Gilda+Display' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag "application" %>
  </head>
    <body>
      <div class="navbar">
        <div id="headerimg">
      <%= link_to image_tag('logo3.png'), root_path %></div>
        <%= link_to 'Home', root_path %> |
        <%= link_to 'Questions', questions_path %> |
        <% if user_signed_in? %>
        <%= link_to 'Ask', new_question_path %> |

        <%= link_to "Welcome, #{current_user.username}", user_path(current_user) %>  |
        <%= link_to "Edit Profile", edit_user_registration_path %>
        <span id="gravatar"><%= gravatar_for(current_user) %> </span>
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% else %>
        <%= link_to "Sign up", new_user_registration_path %> |
        <%= link_to "Login", new_user_session_path %> |
        <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %> |
        <% end %>
      </form>
    </div>
    <div id="flashes">
    <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, id: "flash_#{name}", class: "alert alert-success" %>
    <% end %>
  </div>
      <div class="container">
      <%= yield %>
    </div>
      <div class="container">
      <hr>
        <footer>
        <p>Team Capybara Ultimate Margarita Squad, Reloaded </p>
      </footer>
    </div>
  </body>
</html>